body {
    display: inline;
    background-color: rgb(239, 222, 222);
}
.perkenalan-diri{
    text-align: center;
}
.fotoku{
    margin: auto;
    width: 33.33%;
    padding: 5%;
}
.matkul{
    text-align: center;
}
.film-favorit{
    text-align: center;
}
.table {
    justify-content: center;
}
table, thead, tbody, tr, td{
    border: 1px solid black;
}
